<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center RegText">Create Your Profile</h1>
        <p class="text-center RegText">Connect to the Hollywood 2.0 Network and Entertainment professionals in your area and around the world!</p>
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>