<h1 class="jumbotron">About Hollywood 2.0</h1>
<p>Our primary goal is to create a network of entertainment professionals free from the constraints of location. Writers, Directors, Actors, Designers, and Crew Members can work together from across the globe.</p>