<div class="jumbotron">
    <h1>Hollywood 2.0</h1>
<p>A community of independent artists from around the world working together to provide quality entertainment.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h3 class="text-centered">Free Membership</h3>
            <ul>
                <li>Create Profile</li>
                <li>Upload Resume</li>
                <li>Link to Reel and/or Portfolio</li>
                <li>View User Profiles</li>
                <li>View Projects</li>
                <li>Post in Public Forums</li>
            </ul>
            </br>
            </br>
            <%= link_to "Sign Up Free", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>

        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h3 class="text-centered">Pro Membership</h3>
            <ul>
                <li>Create Profile</li>
                <li>Upload Resume</li>
                <li>Link to Reel and/or Portfolio</li>
                <li>View User Profiles</li>
                <li>Upload Photos and Videos</li>
                <li>Contact other Users</li>
                <li>Create and Post in Private Forums</li>
                <li>Create Projects</li>
            </ul>
            <%= link_to "Sign Up for Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>
